<div class="mobile-menu-container d-xl-none" id="mobileMenu">
  <div class="d-flex align-items-center gap-3">
    <mobile-menu-close-button></mobile-menu-close-button>
    <%- include('./logo.ejs') %>
  </div>

  <div class="text-center">
    <a class="button large primary" href="/account/posts/submit/"><span class="material-icons">add</span> Submit a Post</a>
  </div>

  <nav class="mobile-menu">
    <% if (typeof user === 'undefined') { %>
      <a href="/auth/login/" class="mobile-menu-link <% if (typeof mainNavId !== 'undefined' && mainNavId === 'login') { %>selected<% } %>">Log In</a>
      <a href="/auth/register/" class="mobile-menu-link <% if (typeof mainNavId !== 'undefined' && mainNavId === 'register') { %>selected<% } %>">Register</a>

      <div class="mobile-menu-divider"></div>
    <% } %>

    <% for (const navItem of mainNav) { %>
      <a href="<%=navItem.url%>" class="mobile-menu-link <% if (typeof mainNavId !== 'undefined' && mainNavId === navItem.id) { %>selected<% } %>"><%=navItem.label%></a>
    <% } %>

    <div class="mobile-menu-divider"></div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="fw-bold">Theme</div>
      <%- include('./themeSwitcher.ejs') %>
    </div>

    <% if (typeof user !== 'undefined') { %>
      <div class="mobile-menu-divider"></div>

      <% for (const menuItem of accountMenu) { %>
        <% if ('divider' in menuItem) { %>
          <div class="mobile-menu-divider"></div>
        <% } else { %>
          <a href="<%=menuItem.url%>" class="mobile-menu-link <% if (typeof sidebarMenuId !== 'undefined' && sidebarMenuId === menuItem.id) { %>selected<% } %>">
            <%=menuItem.label%>
          </a>
        <% } %>
      <% } %>
    <% } %>
  </nav>
</div>
