<% if (posts.length === 0) { %>
  <div class="d-flex flex-column align-items-center gap-4 py-4 rounded-box">
    <div>No posts could be found.</div>
    <div>
      <a href="/account/posts/submit/" class="button primary"><span class="material-icons">add</span> Submit a Post</a>
    </div>
  </div>
<% } else { %>
  <div class="post-list">
    <% for (const post of posts) { %>
      <div class="post-block rounded-box">
        <a href="/posts/<%= post.slug %>/" class="post-title"><%= post.title %></a>

        <div class="post-description-wrapper">
          <% if (post.isErotic) { %>
            <div>
              <%- include('../_partials/post-tags/eighteenPlus.ejs') %>
            </div>
          <% } %>
          <div class="post-description"><%= post.shortDescription %></div>
        </div>

        <div class="post-author-wrapper">
          <div class="post-author">by <a href="/authors/<%= post.user.username %>/"><%= post.user.username %></a></div>
          <div class="post-publication-date"><%= helpers.formatLocaleDateDigits(post.publishedAt) %></div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
          <%- include('../_partials/postStats.ejs', { post }) %>

          <div class="post-categories">
            <% for (const category of post.categories) { %>
              <a href="/categories/<%= category.slug %>/"><%= category.name %></a><% if (post.categories.indexOf(category) !== post.categories.length - 1) { %>,<% } %>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  </div>

  <%- include('./pagination.ejs') %>
<% } %>

